:host {
    padding: 1em;
    background: #f2f2f2;
    border-radius: .45em;
}
::ng-deep .symbolListContainer{
    height: inherit;
}
::ng-deep .dx-datagrid-content tr.dx-data-row {
    cursor: pointer;
}