<dx-data-grid 
    class="symbolListContainer"
    [dataSource]="dataSource | async"
    (onSelectionChanged)="selectionChanged($event)"
    (onContentReady)="contentReady($event)"
    [masterDetail]="{ enabled: false, template: 'detail' }"
    [showBorders]="true">

    <dxo-paging [pageSize]="100"></dxo-paging>
    <dxo-selection mode="single"></dxo-selection>

    <dxi-column dataField="displaySymbol" filtering="true"></dxi-column>
    <dxi-column dataField="description"></dxi-column>
    <dxi-column dataField="currency"></dxi-column>
    <dxi-column dataField="type"></dxi-column>

    <div *dxTemplate="let company of 'detail'">
        <div class="employeeInfo">
            <app-test-company-profile [dataSource]="getCompanyInfo(company.data.displaySymbol)"></app-test-company-profile>
        </div>
    </div>
</dx-data-grid>
